\footnotesize
\begin{tabularx}{\textwidth}{lXXrrrrrrrrrrr}
\toprule
& & & & & \multicolumn{3}{c}{Positive} & \multicolumn{3}{c}{Neutral} & \multicolumn{3}{c}{Negative} \\
\cmidrule(r){6-8}\cmidrule(lr){9-11} \cmidrule(l){12-14} 
\multicolumn{3}{l}{Method} & Acc. & $\alpha$ & Pr. & Re. & F1& Pr. & Re. & F1 & Pr. & Re. & F1 \\
\midrule
{% for section, table in data.items() %}
\multicolumn{11}{l}{\emph{ {{ section }} }} \\
{% for row in table %}
 {% for cell in row.values() -%}
 & {% if loop.first -%} \multicolumn{2}{l}{ {{ methods.get(cell,cell) }} }
  {%- else %}{% if cell=="NA" %}n/a{% else -%}
  \cellcolor[gray]{{ '{' }}{{ "%0.2f"|format(1-cell/2) }}{{ '}'}} {{ "%0.2f"|format(cell) }}
  {%- endif %}{% endif %}
 {%- endfor %}\\
{% endfor %}
{% endfor %}
\bottomrule
\end{tabularx}
{# Note: Acc.: Accuracy expressed as percentage correct; $\alpha$: Krippendorff's alpha (ordinal), Pr.: Precision for the specified class (Positive/Negative); Re.: Recall for that class; F1: F1-Score for that class. #}
